/**
 * @name One Dark Theme
 * @version 1.1
 * @description A theme based off of One Dark, a popular theme on many IDES such as IntelliJ. Keeps many of same elements as normal dark theme discord. Also hides nitro from the friends tab and chatbar.
 * @author Clamyboy74
 * @credit to BD server for CSS Snippets

**/

/**custom buttons**/
@import url("https://xhylo.github.io/WinBAcss/winbuttons.css");
/*revert rebrand*/
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/wordmark.css');
/** blurplecolor**/
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);
/** old font **/
@import url(https://cdn.statically.io/gh/Overimagine1/old-discord-font/main/source.min.css);
/**remove super reactions**/
.theme-dark,

:root {


    
        /** blurple**/
    --accentcolor: 114,137,218;		/*	blurple	-	default:	114,137,218		*/
    --linkcolor: 0,176,244;		/*	link	-	default:	0,176,244		*/
    --color-brand-lighter: #4373c5;

        /*main bg colors*/
    --background-primary: #30353d !important; /* extra colors #282c34 #30353d*/
    --background-secondary: #282c34 !important;
    
        /*brighter text*/
    --text-muted: #a9a9a9 !important;
    --text-normal: #e3e3e3 !important;
    --header-secondary: #c9c9c9 !important;

    /*toast colors*/
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
    --toast-border: var(--background-tertiary) !important;

  
}
/* change color of textbox */
  .scrollableContainer-15eg7h{
    background-color:#2c313a;
}

/* removes public server button */
.tutorialContainer-2jwoiB+.listItem-3SmSlK {
    display: none;
}

/* Hide shop button in Home */
a[data-list-item-id$="___shop"] { display: none; }

/* Remove gift button */
.buttons-uaqb-5 > .button-f2h6uQ > :not(.translateButton-DhP9x8) {
display: none;
}

/* Remove sticker from form */
.stickerButton-1-nFh2{
  display:none;
}

.layer-3QrUeG {
    transform: none !important;
    opacity: 1 !important;
}

.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada {
    pointer-events: auto !important;
    will-change: unset;
}

.animating-rRxada.stop-animations {
    z-index: 100 !important;
}

#app-mount .wrapper-3WhCwL {
    color: #687dc6;
    background: rgba(114,137,218,0.1);
}
#app-mount .wrapper-3WhCwL:hover {
    background: rgb(114,137,218);
    color: white;
}
#app-mount .mentioned-xhSam7 .mention {
    background: transparent !important
}
#app-mount .mentioned-xhSam7 .mention:hover {
    color: #687dc6;
}

/* Hides nitro tab in DMs list */
.hasBanner-2SrLR3 .header-2V-4Sw, .hasBanner-2SrLR3 .header-2V-4Sw:hover{
    color: var(--header-primary);
    box-shadow: var(--elevation-low);
}

[aria-label="Discord Nitro"],[aria-controls="nitro-server-boost-tab"],[aria-label="Subscriptions"],[aria-label="Gift Inventory"],[aria-controls="billing-tab"],[aria-controls="connections-tab"] + .separator-gCa7yv,[href="/store"],.container-1mpd15,.menu-3sdvDG .colorPremium-p4p7qO,.flowerStarContainer-3zDVtj,.animatedContainer-1NSq4T, .content-3YMskv [style="height: 84px;"], .bannerImage-3KhIJ6, .animatedBannerHoverLayer-1laDtn {
    display: none;
}

/* hide stage discovery */
#private-channels [href="/discovery"] {display: none}

/* Hide Gift Nitro in Chatbar*/
/*button[aria-label="Select emoji"]
button[aria-label="Open GIF picker"],*/
button[aria-label="Send a gift"],
button[aria-label="Open sticker picker"] {
  display: none;
}

/* hide invite to server context menu */
#user-context-invite-to-server {
  display: none;
}

/* Revert mention color back to old version (easier to read) */
#app-mount .mention {
    color: #687dc6;
    background: rgba(114,137,218,0.15);
}
#app-mount .mention:hover {
    color: white;
    background: #7289da;
}
#app-mount .mentioned-xhSam7 .mention {
    background: transparent;
}
#app-mount .mentioned-xhSam7 .mention:hover {
    color: #687dc6;
}

/* Disable discord's overcomplicated and extremely laggy settings animations.
(like seriously, you have to wait a full second before pointer events are even enabled) */
.layer-3QrUeG {
    transform: none !important;
    opacity: 1 !important;
}

.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada {
    pointer-events: auto !important;
    will-change: unset;
}

.animating-rRxada.stop-animations {
    z-index: 100 !important;
}

/* 🠗 get rid of the nitro icons 🠗 */
.icon-Zc-uZZ {
    display: none;
}
/* 🠗 server boost status icon 🠗 */
.icon-3Povsy {
    display: none;
}

/* emote fix*/
img.emote {
    text-indent: 0;
    white-space: nowrap;
    width: auto;
    position: relative;
    top: 0.25ex;
}



/* change home icon */
svg[class^="homeIcon"] path {
    d: path('M 2 0 a 2 2 90 0 0 -2 2 v 12 a 2 2 90 0 0 2 2 h 2 l 0 4 l 4 -4 H 18 a 2 2 90 0 0 2 -2 V 2 a 2 2 90 0 0 -2 -2 z');
}
svg[class^="homeIcon"] {
    margin-left: 8px;
}



/* vencord------------------------------------------------------------------- */

/* Change spotify plugin timeline to green */
#vc-spotify-progress-bar [class|=barFill] {
    background: var(--spotify);
}

/* hide quests */
section[class^="panels_"]>div[class^="mask_"] {
    display: none;
}
